@import './animations.css';
@import './tables.css';
@import './toast.css';
@import './modal.css';
@import './loading.css';
@import "ag-grid-community/styles/ag-grid.css"; 
@import "ag-grid-community/styles/ag-theme-quartz.css";
@import "primereact/resources/themes/lara-light-cyan/theme.css";

:root {

    --blue-lis: rgb(59, 79, 88);
    --lis-ligthblue: rgb(076,153,169);
    --background-color: rgb(248,251,252); 

    
}

@font-face {
    font-family: "game-titles";
    src: url(/assets/fonts/SamuraiBlast-YznGj.ttf);
}

@font-face {
    font-family: "game2-titles";
    src: url(/assets/fonts/MightySouly-lxggD.ttf);
}

@font-face{
    font-family: "lis-titles";
    src: url(/assets/fonts/BaiJamjuree-Medium.ttf);
}



